[Desktop Entry]
Encoding=UTF-8
Name=Log Out Dialog  
Comment=Dialog Shutdown
Exec=python /usr/share/shutdowndialog/logoutdialog.py
Icon=system-logout
Terminal=false
Type=Application
Categories=GNOME;System;Filesystem;Settings;
StartupNotify=true
