[Desktop Entry]
Encoding=UTF-8
Name=Shut Down Dialog  
Comment=Dialog Shutdown
Exec=python /usr/share/shutdowndialog/shutdowndialog.py
Icon=system-shutdown
Terminal=false
Type=Application
Categories=GNOME;System;Filesystem;Settings;
StartupNotify=true
